.blackbackground
{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative; /* This ensures absolute positioning works for the splitter */
}

.home-splitter {
    
    width: 100%;
    height: 3px; /* Thin horizontal line */
    background-color: #b9893c;
    z-index: 33; /* Very high value to stay above everything */
    cursor: ns-resize; /* Up-down resize cursor */
    transition: background-color 0.2s ease;
   /* top: `${topPanelHeight}px`, // Make sure it stays just below the top panel*/
   /* position: absolute; */ /* Position the splitter over the panels */
    /*top: 45vh;*/ /* Place the splitter between top and bottom panels */
}

.top-panel {
    background: #000000;
    padding: 1px;
    height: 45vh;
    transition: width 0.3s ease; /* Smooth transition for resizing */
    z-index: 7; /* Can be adjusted based on your layout */

  }
  
  .bottom-panel {
    background: #000000;
    padding: 1px;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    transition: max-width 0.3s ease; /* Smooth transition for right panel resizing */
    z-index: 8; /* Can be adjusted based on your layout */

  }

/* Adjustments to the .overflow-auto class */
.overflow-auto {
    max-height: 100%; /* Set to 45vh as per requirement */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
    width: 100%; /* Full width */
}


  /* Scrollbars */
.right-panel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.right-panel::-webkit-scrollbar-thumb {
    background: #b9893c;
    border-radius: 5px;
}




/*
.splitter {
    border: 1px solid rgb(203 213 225);
    align-items: center;
    display: flex;

    height: 24rem;
    width: 100%;
}
.splitter__first {
    width: 50%;
    height: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}
.splitter__resizer {
    background: rgb(29, 104, 196);
    height: 100%;
    width: 2px;

    cursor: ew-resize;
    user-select: none;
    touch-action: none;
}
.splitter__second {
    flex: 1;

    align-items: center;
    display: flex;
    justify-content: center;

}
    */