body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Left Panel */
.left-panel {
    width: 100vh;
    height: 48vh; /*nrodha 48 bch nalka win nzid splitter*/
    background-color: #000000;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    position: relative;
}

.filter-btn {
    background-color: #d2AC47;
    color: #1B262E;
    border: none;
    border-radius: 3px; /* Slightly smaller border radius */
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;  
}

.filter-btn:hover {
    background-color: #b9893c;
}

.filterbuttons
{
    display: flex;            /* Enable Flexbox */
    justify-content: flex-start; /* Align buttons to the left */
    gap: 5px;   
}


/* Grid container */
.grid-container {
    display: grid;
    background-color: #212020;
    grid-template-columns: repeat(4, 200px);
    width: max-content;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px); /* Prevents it from growing too much */
    height: max-content;
    border: 1px solid #d2AC47; /* Border around grid */
    display: flex;
    
}
.devisetablehead {
    background-color: #282727;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are combined */
}

th, td {
    border: 1px solid #d2AC47; /* Gold border for a sleek look */
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr {
    background-color: #1b1b1b; 
}

/* Table wrapper to control height */
.overflow-auto {
    max-height: 100%;
    overflow-y: auto; /* Enables scrolling if content overflows */
    overflow-x: auto; /* Enables scrolling if content overflows */

}


/* Scrollbars */
.right-panel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.right-panel::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/* Zoom Button */
.zoom-out {
    position: absolute; /* Absolute inside a relative container */
    bottom: 10px; /* Distance from the bottom */
    right: 10px;  /* Distance from the right */
    background: #d2AC47;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}


/*    bottom: 10px;
    right: 10px;*/