body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Left Panel */
.left-paneltstream {
    width: 48vw;
    height: 55vh; /*nrodha 48 bch nalka win nzid splitter*/
    background-color: #000000;
    padding: 2px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: auto;
    position: relative;
    box-sizing: border-box; /* Adjust box model */
    transition: width 0.3s ease; /* Smooth transition for resizing */

}


.filter-btn {
    background-color: #d2AC47;
    color: #1B262E;
    border: none;
    border-radius: 3px; /* Slightly smaller border radius */
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;  
}

.add-operation-button {
    background-color: #d2AC47;
    color: #1B262E;
    border: none;
    border-radius: 3px; /* Slightly smaller border radius */
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;  
}


.filter-btn:hover {
    background-color: #b9893c;
}

.filterbuttons
{
    display: flex;            /* Enable Flexbox */
    justify-content: flex-start; /* Align buttons to the left */
    gap: 5px;   
}


/* Grid container */
.grid-containertl {
    display: grid;
    background-color: #212020;
    justify-content: center; /* Center content */
    width: fit-content;
    height: fit-content; /* Let it take full container height */
    width: max-content;
     max-width: calc(100% - 2px);
    max-height: calc(100% - 2px);
    /*height: max-content; */
    border: 2px solid #d2AC47; /* Border around grid */
    position: relative;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box; /* Adjust box model */

}
.devisetablehead {
    background-color: #282727;
    color: white;
}

table {
    width: 45vw !important;
    border-collapse: collapse; /* Ensures borders are combined */
}

th, td {
    border: 1px solid #d2AC47; /* Gold border for a sleek look */
    padding: 5px;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr {
    background-color: #1b1b1b; 
}

.overflow-auto {
    max-height: 45vh; /* Set to 45vh as per requirement */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: auto; /* Hide horizontal scrolling */
    width: 45vw; /* Full width */
}
  

/* Scrollbars */
.left-panel::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.left-panel::-webkit-scrollbar-thumb {
    background: #d2AC47;
    border-radius: 5px;
}
.left-panel::-webkit-scrollbar-track
{
    background: #BBBEFE
}



/* Zoom Button
.zoom-out {
    position: absolute;*/ /* Absolute inside a relative container */
    /*bottom: 10px; */ /* Distance from the bottom */
    /*right: 10px; */ /* Distance from the right */
/*    background: #d2AC47;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
} */


/*    bottom: 10px;
    right: 10px;*/

    .green-text {
        color: green;
        font-weight: bold;
      }
      
      .red-text {
        color: red;
        font-weight: bold;
      }
      